.slide1, .scroll {
  display: grid;
  grid-template-rows: 239px 1fr;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  transition: all 1s;
  position: absolute;
  height: 750px; }

header .logo.img, .logo, .logo_slide2 {
  display: block;
  width: 59px;
  height: 69px;
  margin-left: 45px;
  margin-top: 22px; }

.slide1 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 0.01%, rgba(0, 0, 0, 0) 100%), url(/images/header-bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.scroll {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 0.01%, rgba(0, 0, 0, 0) 100%), url(/images/header-bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

header {
  display: flex;
  flex-flow: row; }

.header_phone {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  left: 225px; }

.header_phone div:first-child {
  grid-row: 2/4;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  border: 1px solid #757575;
  box-sizing: border-box;
  justify-self: right;
  margin-right: 12px; }

.header_phone div:nth-child(2) {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  grid-column: 2;
  grid-row: 2/3;
  line-height: 26px;
  color: #A68E52;
  align-self: flex-end; }

.header_phone div:nth-child(3) {
  font-family: HelveticaNeueCyr;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  grid-row: 3;
  grid-column: 2;
  line-height: 26px;
  color: #DDDDDD;
  border-bottom: 1px solid #A68E52;
  justify-self: flex-start;
  align-self: flex-start; }

.header_phone div:nth-child(4) {
  font-family: HelveticaNeueCyr;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  margin-left: 49px;
  align-self: center;
  grid-row: 2/4;
  grid-column: 3;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #DDDDDD;
  opacity: 0.4;
  border: 1px solid #757575;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center; }

.slide2 {
  display: block; }

.logo, .divText, .divClubHouse {
  display: none; }

.showlogo {
  display: block; }

.divText {
  font-family: Cormorant;
  font-size: 68px;
  font-style: normal;
  font-weight: normal;
  grid-column: 2;
  grid-row: 2;
  font-weight: 500;
  width: 600px;
  line-height: 68px;
  color: #FDFBFB; }

.divClubHouse {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  grid-column: 2;
  grid-row: 1;
  line-height: 24px;
  color: #A68E52; }

section {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 30px 1fr 2, auto; }
  section .slider {
    grid-row: 1/3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 125px;
    margin-left: 41px; }
  section .slider div:first-child {
    font-family: HelveticaNeueCyr;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    width: 14px;
    height: 24px;
    line-height: 24px;
    color: #A68E52;
    transform: rotate(-90deg); }
  section .slider div:last-child {
    font-family: HelveticaNeueCyr;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    width: 12px;
    height: 24px;
    line-height: 24px;
    color: #757575;
    transform: rotate(-90deg); }
  section .vertical_line {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    height: 77px;
    position: relative; }
    section .vertical_line div:first-child {
      width: 25px;
      height: 0px;
      border: 1px solid #DDDDDD;
      transform: rotate(90deg);
      align-self: center;
      position: absolute;
      top: 12px; }
    section .vertical_line div:last-child {
      width: 78px;
      height: 0px;
      opacity: 0.4;
      border: 1px solid #DDDDDD;
      transform: rotate(90deg); }
  section div:nth-child(2) {
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    grid-column: 2;
    grid-row: 1;
    line-height: 24px;
    color: #A68E52; }
  section div:nth-child(4) {
    font-family: Cormorant;
    font-size: 68px;
    font-style: normal;
    font-weight: normal;
    grid-column: 2;
    grid-row: 2;
    font-weight: 500;
    width: 500px;
    line-height: 68px;
    color: #FDFBFB; }
  section input[type='button'] {
    font-family: HelveticaNeueCyr;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    grid-column: 2;
    grid-row: 3;
    width: 182px;
    height: 38px;
    background: #A68E52;
    border-radius: 3px;
    line-height: 26px;
    align-self: flex-end;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FDFBFB; }

.dots_slider {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 125px;
  grid-column: 2;
  grid-row: 4; }
  .dots_slider .dots.checked {
    width: 8px;
    height: 8px;
    background: #DDDDDD;
    border-radius: 50%;
    opacity: 1; }
  .dots_slider .dots {
    margin-left: 25px;
    width: 8px;
    height: 8px;
    background: #757575;
    opacity: 0.3;
    border-radius: 50%; }
  .dots_slider .slideForward, .dots_slider .slideBack {
    height: 6.83px;
    width: 50.35px;
    cursor: pointer; }
  .dots_slider .slideForward {
    margin-left: 37px; }
  .dots_slider .slideBack {
    margin-left: 24.65px; }

footer {
  margin-left: 110px;
  margin-top: 76px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 23px; }
  footer img:first-child {
    width: fit-content;
    height: fit-content;
    align-self: center; }
  footer div:nth-child(2) {
    font-family: HelveticaNeueCyr;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin-left: 10.43px;
    align-self: center;
    height: 26px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #DDDDDD;
    opacity: 0.7; }
  footer div:nth-child(3) {
    font-family: HelveticaNeueCyr;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin-left: 86.64px;
    font-weight: 550;
    line-height: 20px;
    text-align: center;
    /* identical to box height, or 260% */
    border-radius: 50%;
    border: 0.8px solid #A68E52;
    box-sizing: border-box;
    letter-spacing: 0.05em;
    width: 20px;
    height: 20px;
    color: #A68E52; }
  footer div:nth-child(4) {
    font-family: HelveticaNeueCyr;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin-left: 13px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DDDDDD;
    opacity: 0.7; }
  footer img:last-child {
    position: absolute;
    right: 41.24px;
    bottom: 19.2px; }
