@import 'home';
@import 'gallery';
@import 'appartments_plan';
@import 'contacts';
@font-face{
    font-family:'HelveticaNeueCyr';
    src: url(css/fonts/9177.otf);
    font-family:'Cormorant';
    src: url(css/fonts/Cormorant-Regular.ttf);
}
body{
    width: 1200px;
}